@import 'tailwindcss';
@import 'bootstrap/dist/css/bootstrap.min.css';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Custom global style */
body {
    background-color: #E7E5D6;
    font-family: 'Segoe UI', sans-serif;
}

.navbar-custom {
    background-color: #123F8C;
}

.sidebar {
    min-height: 100vh;
    background-color: #123F8C;
    color: white;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #E7E5D6;
    color: #123F8C;
    border-radius: 8px;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
}

.card {
    border: none;
    border-radius: 12px;
}